.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: $main-color;
    color: $text-main-color;
    font-weight: 600;
    outline: none;
    padding: $s-size;
    width: 35rem;
}

.modal__confirm-delete {
    max-width: 35rem;
    text-align: center;
}

.modal__add-record {
    min-width: 35rem;
}

.modal__column-s {
    width: 30%;
}

.modal__column-m {
    width: 50%;
}

.modal__column-l {
    width: 70%;
}
