// Colors
$main-color: #0b0c10;
$second-color: #1f2833;
$bg-color: #c5c6c7;
$text-main-color: #66fcf1;
$text-second-color: #45a29e;

// Fonts
$font: Helvetica, Arial, sans-serif;

// Sizes
$xl-size: 2.8rem;
$l-size: 2.2rem;
$m-size: 1.6rem;
$s-size: 1rem;

// Borders
$bd-radius: 0.4rem;
